.core_payment_gateways_modal .wechat .icon {
    height: 40px;
    width: auto;
}

.wechatpaymentmodal {
    text-align: center;
}

.wechatpaymentmodal .wechatlogo .icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}